@font-face {
  font-family: "MusiQwik";
  src: url(./fonts/MusiQwik.woff2) format("woff2");
}

@font-face {
  font-family: "Sax";
  src: url(./fonts/LegniSaxophone.woff2) format("woff2");
}

.music {
  font-family: 'MusiQwik';
  font-size: 28pt;
}

.sax {
  font-family: 'Sax';
  font-size: 36pt;
}
