:root {
  --natural-key-width: 48px;
  --natural-key-height: 200px;
  --sharp-key-width: 30px;
  --sharp-key-height: 100px;
  --two-sharp-offsets: 2px;
  --three-sharp-offsets: 4px;
}

body {
  margin: 10px;
  background-color: var(--bs-gray-600);
}

#piano-keyboard {
  position: relative;
  display: flex;
  text-align: center;
}

.key {
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  display: block;
  transition: background-color 0.25s;
}

/* #piano-keyboard > .key {
  flex: 1;
} */

.key-contents {
  position: absolute; /* Only way to position something at the "bottom" of it's container */
  width: 100%; /* Make sure we can centre-align the text properly */
  bottom: 5px;
}

.key-pad {
  position: relative;
  width: 60%;
  margin-left: 20%;
  border-radius: 35%;
  color: white;
  background: transparent;
  font-family: serif;
  font-weight: 400;
  font-size: 18px;
}

.key-sharp > .key-pad {
  width: 90%;
  margin-left: 5%;
  border-radius: 35%;
}

/* .key:hover {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
} */

.key-natural {
  width: var(--natural-key-width);
  height: var(--natural-key-height);
  background: #fffff0; /* Ivory */
  color: black;
  /* padding-top: 145px; */
}

.key-sharp {
  width: var(--sharp-key-width);
  height: var(--sharp-key-height);
  background: #36454f;
  z-index: 1;
  /* padding-top: 45px; */
  transform: translateX(-50%);
}

.key-natural:hover {
  background-color: rgb(89, 190, 89);
}

.key-sharp:hover {
  background-color: green;
}


.key-C♯ {
  transform: translateX(calc(-50% - var(--two-sharp-offsets)));
}

.key-E♭ {
  transform: translateX(calc(-50% + var(--two-sharp-offsets)));
}

.key-F♯ {
  transform: translateX(calc(-50% - var(--three-sharp-offsets)));
}

.key-B♭ {
  transform: translateX(calc(-50% + var(--three-sharp-offsets)));
}


.key-sharp + .key-natural { /* Shift left the white key over the black */
  margin-left: calc(-1 * var(--sharp-key-width));
}

/* .key.active::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;F
  background-color: red;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
} */
