:root {
  --natural-key-width: 48px;
  --natural-key-height: 220px;
  --sharp-percent-width: 62.5%;
  --sharp-inverted-percent-width: 160%; /* These two multiply to 1 */
  --sharp-key-height: 54%;
  --two-sharp-offsets: 4%;
  --three-sharp-offsets: 6%;
}

body {
  margin: 10px;
  background-color: var(--bs-gray-600);
}

.piano-keyboard {
  position: relative;
  display: flex;
  text-align: center;
  margin-top: 20px;
}

.key {
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  display: block;
  transition: background-color 0.25s;
}

/* "Dervied" keys */

.key-natural {
  width: var(--natural-key-width);
  height: var(--natural-key-height);
  background: #fffff0; /* Ivory */
  color: black;
}

/* .key-natural:hover {
  background-color: rgb(89, 190, 89);
} */

.key-sharp {
  position: relative;
  /* This one was too much - can't figure why: left: calc( var(--sharp-inverted-percent-width) / 2 + var(--sharp-percent-width) / 2 ); */
  left: calc( var(--sharp-inverted-percent-width) / 4 + var(--sharp-percent-width) / 2 );
  width: var(--sharp-percent-width);
  height: var(--sharp-key-height);
  background: #36454f;
  color: white;
  z-index: 1;
}

/* .key-sharp:hover {
  background-color: green;
} */

/* Specific sharp/flat keys */

.key-C♯ {
  left: calc( var(--sharp-inverted-percent-width) / 4 + var(--sharp-percent-width) / 2 - var(--two-sharp-offsets));
}

.key-E♭ {
  left: calc( var(--sharp-inverted-percent-width) / 4 + var(--sharp-percent-width) / 2 + var(--two-sharp-offsets));
}

.key-F♯ {
  left: calc( var(--sharp-inverted-percent-width) / 4 + var(--sharp-percent-width) / 2 - var(--three-sharp-offsets));
}

.key-B♭ {
  left: calc( var(--sharp-inverted-percent-width) / 4 + var(--sharp-percent-width) / 2 + var(--three-sharp-offsets));
}

/* natural keys after sharps need to be adjusted to the left */

.key-sharp + .key-natural { /* Shift left the white key over the black */
  margin-left: calc(-1 * var(--sharp-percent-width));
}

/* Contents of keys */

.key-contents {
  position: absolute; /* Only way to position something at the "bottom" of it's container */
  width: 100%; /* Make sure we can centre-align the text properly */
  bottom: 5px;
}

/* A "pad" where a fingure can "land" */

.key-pad {
  position: relative;
  width: 60%;
  margin-left: 20%;
  border-radius: 35%;
  color: white;
  background: transparent;
  font-family: serif;
  font-weight: 400;
  font-size: 18px;
}

.key-sharp > .key-pad {
  width: 90%;
  margin-left: 5%;
  border-radius: 35%;
}

.key-text {
  position: relative;
  width: 100%;
}

/* .key:hover {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
} */


/* .key.active::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;F
  background-color: red;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
} */


