:root {
  --natural-key-width: 48px;
  --natural-key-height: 200px;
  --sharp-key-width: 30px;
  --sharp-key-height: 100px;
  --two-sharp-offsets: 2px;
  --three-sharp-offsets: 4px;
}

body {
  margin: 10px;
  background-color: var(--bs-gray-600);
}

#piano-keyboard {
  position: relative;
  display: flex;
  text-align: center;
}

.key {
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
}

.key-natural {
  width: var(--natural-key-width);
  height: var(--natural-key-height);
  background: #fffff0; /* Ivory */
  color: black;
  padding-top: 170px;
}

.key-sharp {
  width: var(--sharp-key-width);
  height: var(--sharp-key-height);
  background: #36454f;
  z-index: 1;
  padding-top: 70px;
  transform: translateX(-50%);
}

.key-C♯ {
  transform: translateX(calc(-50% - var(--two-sharp-offsets)));
}

.key-E♭ {
  transform: translateX(calc(-50% + var(--two-sharp-offsets)));
}

.key-F♯ {
  transform: translateX(calc(-50% - var(--three-sharp-offsets)));
}

.key-B♭ {
  transform: translateX(calc(-50% + var(--three-sharp-offsets)));
}


.key-sharp + .key-natural {
  margin-left: calc(-1 * var(--sharp-key-width));
}

.key.active::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}